/* background */
main{
  z-index: -10;
  position: fixed;
  display: flex;
  top: 0;
  height: 100vh;
}
canvas{
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
}

img{width: 100%;}
#fp-nav.fp-right{right: auto; left: 1.5%;}

/* home */
.home article{padding: 6%; box-sizing: border-box;}
.home p{font-size: 2.5em;
  letter-spacing: 2px; line-height: 1;
  /* text-shadow: 0 0 5px #fd9ced, 0 0 15px #ffbdea, 0 0 20px #fd9ced, 0 0 40px #ffbdea;
    color: #fff; */
  }

/* profile */
article p{margin-bottom: 20px;}

.profile>div>div{margin: 4.5%; padding: 0 4.5%; height: 85%; box-sizing: border-box; background: rgba(255,255,255,.8); border-radius: 30px; 
  display: grid; grid-template-columns: .4fr .5fr .1fr;
  justify-content: center;
  align-items: center;
}
.photo{width: 87%;}
.photo img{}

.intro{}

.info span{font-size: 6em; font-weight: 900;}
.info dl dt{font-weight: 800; font-size: 1.222em; margin-bottom: 1%; color: red;}
.info dl dd{margin-bottom: 2%;}
.info dl dd:nth-of-type(1){margin-bottom: 0;}

.skill>div{background: #fff; border-radius: 35px; padding: 6% 0 6% 6%; box-shadow: 2px 2px 10px rgba(0,0,0,.1); }
.skill>div>span{font-weight: 800; font-size: 1.222em;}
.skill ul{ margin-top: 2%;
  display: grid; grid-template-columns: repeat(3, 1fr);}
.skill ul li{margin: 2% 0; position: relative;}
.skill ul li:last-child{margin-bottom: 0;}
.skill ul li div{float: left; width: 20%;}
.skill ul li span{position: absolute; left: 50%; top: 50%; transform: translate(-45%,-50%);}


.site{font-weight: 600; text-align: right; height: 100%; position: relative;}
.site ul{width: 100%; margin-left: 10%; position: absolute; bottom: 14%;}
.site li{margin-bottom: 8%; border-bottom: 1px solid #333;}
.site li a:hover{color: red;}
.site li a{padding: 20% 0 3%;}

.pc .contain{margin: 100px 5% 0;
  display: grid; grid-template-columns: .361fr .592fr; align-items: center; justify-content: space-between;}
.img_box{position: relative;}
.pc .img_box .pc{position:relative;left: 0; top:0; z-index: 10; width: 100%;}
.pc .img_box .gif{position:absolute;left: 2%; top:3%; width: 95%;}
.text_box{float: right;}

.text_box>div:nth-of-type(1){display: flex; align-items: center;}
.title{margin: 0 0 3% 0; width: 50%;}
.text_box>div:nth-of-type(1) span{margin-left: 2%; font-size: 1.222em; font-weight: 600;}
.text_box>div:nth-of-type(2){
  margin-top: 4%;
  position: relative;
  display: grid; grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  'a a a'
  'b c d'
  'e e f';}
.text_box div div:nth-of-type(1){grid-area: a;}  
.text_box div p{line-height: 1.3em;}
.text_box div dl:nth-of-type(1){grid-area: b;}
.text_box div dl:nth-of-type(2){grid-area: c;}
.text_box div dl:nth-of-type(3){grid-area: d;}
.text_box div dl:nth-of-type(4){grid-area: e; margin-top: 4%;}
.text_box div div:nth-of-type(2){grid-area: f; width: 35%; position: absolute; right: 0; bottom: 0;}
.text_box div div:nth-of-type(2) img{}
.text_box div a{padding: 9px 18px; border-radius: 10px; background: red; width: 84px; margin: 4% 0;}
.text_box div dl dt{font-size: 1.222em; font-weight: 600; margin-bottom: 3%;}
.text_box div dl:nth-of-type(4) dt{margin-bottom: 1%;}
.text_box dl:nth-of-type(3) i {
  width: 3em;
  height: 1em;
  display: inline-block;
  margin: 0 2%;}
.text_box dl:nth-of-type(3) i:nth-of-type(1) {background: #D7182A; margin-left: 0;}
.text_box dl:nth-of-type(3) i:nth-of-type(2) {background: #FDAF17;}
.text_box dl:nth-of-type(3) i:nth-of-type(3) {background: #00569F;}
.text_box dl:nth-of-type(4) dd{line-height: 1.3em;}

.mobile .contain{margin: 100px 5% 0;
  display: grid; grid-template-columns: .361fr .592fr; align-items: center; justify-content: space-between;}
.mobile .img_box{position: relative; left: 20%;}
.mobile .img_box .mobile{position:relative; left: 0; top:0; z-index: 10; width: 60%;}
.mobile .img_box .gif{position:absolute;left: 3%; top:7%; width: 54%; border-radius: 5%;}

.responsive .contain{margin: 100px 5% 0; color: #fff;
  display: grid; grid-template-columns: .361fr .592fr; align-items: center; justify-content: space-between;}
.responsive .title img{position: relative; z-index: 1;}
.responsive .text_box div:nth-of-type(1) span{position: relative; z-index: 1;}
.responsive .img_box .responsive{position:relative;left: 0; top:0; z-index: 10; width: 100%;}
.responsive .img_box .gif{position:absolute;left: 0; top:4.5%; width: 99%;}
.responsive .text_box dl:nth-of-type(3) i:nth-of-type(1) {background: #02070F; margin-left: 0;}
.responsive .text_box dl:nth-of-type(3) i:nth-of-type(2) {background: #E60012;}
.responsive .text_box dl:nth-of-type(3) i:nth-of-type(3) {background: #F7F7F7;}
/* #section4::before{
  content: '';
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url(../images/background.png) no-repeat center; 
  background-size: cover;
  opacity: .2;
  display: block;
  z-index: 0;
} */