/* Reset CSS  */
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
/* font-family: 'Changa One', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* font-family: 'Roboto', sans-serif; */

* { margin:0; padding:0; border:0; outline:0; vertical-align:top;
-webkit-text-size-adjust:none;  }
html{font-size: 18px;}
body {font-family: 'Roboto', sans-serif; font-weight: 300; color:#fff;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
ul, ol, dl { list-style:none; }
img, video {border:0; vertical-align:top; }
a{display: block; z-index: 10;}
a, a:link {color:#fff; text-decoration:none; }
a:visited { color:#fff; }
a:hover, a:active {color:#fff; text-decoration:none; }
table { border-collapse:collapse; border-spacing:0; }
input, select { vertical-align:middle; }
label { cursor:pointer; }
.blind,legend,hr,caption { display:block; overflow:hidden; position:absolute; top:0; left:-1000em; }
i,em,address { font-style:normal; font-weight:normal; }
p,li,dd{ line-height:1.5em}
.hidden, #skipNav{display: block; position: absolute; left:-1000%; top:0; width: 1px; height: 1px;
    overflow: hidden; color: #fff;}
    img{width: 100%;}
/* 헤더 공통 영역 */
#highlight-position {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: absolute;
    top: 0;
    will-change: left, top;
    left: 0;
    pointer-events: none;
    opacity: 0;
}
.confetti-item {
    width: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
  }
#wrap{width:100%; overflow: hidden}
#headerArea{width: 100%;
    position:fixed; left:0; top: 0; z-index: 30;
}	
#headerArea .menu_ham span {
    width: 20px;
    height: 4px;
    background: #333;
    position: relative;
    text-indent: -9999px;
    display: block;
    margin: 26px 15px;
    border-radius: 5px;
    transition: all .3s;
}
#headerArea .menu_ham{display: none;}
#headerArea	.headerInner{width: 100%; padding: 15px 6%; box-sizing: border-box;
     overflow: hidden}
#headerArea h1{float: left; margin-top: 6px}
#headerArea h1 a{color: #fff; text-decoration: none}	
#headerArea #gnb{float: right; margin-top: 16px;}
#headerArea #gnb ul{overflow: hidden; padding: 2px 0;}
#headerArea #gnb ul li{float: left; margin-right: 30px;}
#headerArea #gnb ul li:last-child{margin-right: 0;}
#headerArea #gnb ul li a{color: #fff; text-decoration: none}
.headerInner ul h3 a{font-family: 'Changa One', sans-serif; font-size: 1.8em; text-shadow: 2px 2px 2px rgba(0,0,0,.5);}

/* 푸터 공통 영역 */
#footerArea{height: 300px; background: #02070F; position: relative;}
#footerArea div:nth-of-type(1){ position: relative;}
#footerArea div:nth-of-type(1)>img{width: 64px; position: absolute; left: 50%; bottom: 25px; transform: translate(-50%);}
#footerArea .top{position: absolute; z-index: 10;
	 left:50%; bottom: -64px; transform: translate(-50%);}


     #footerArea .top span{position: absolute; left: 50%; top: 30px;  transform: translate(-50%);
   font-size: 1.1em; font-weight: 700; color: #fff;
animation:ani 1s infinite  alternate;}
@keyframes ani {
	0% { opacity:1; color:#fff;}
	100% { opacity:0.8; color:#888;}}
#footerArea .footer_inner{position: absolute; left: 50%; top: 120px; transform: translate(-50%);}  
.footer_inner .sns{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    text-align: center; position: absolute; left: 50%; top: 0; transform: translate(-50%);}
.footer_inner .sns li{width: 70px; height: 70px; background: url(../images/gimmick4.png)no-repeat;}
.footer_inner .sns li a{font-size: 1.8em; margin-top: 50%; transform: translateY(-50%);}
.footer_inner .copy{width: 100%; text-align: center; padding-top: 100px; color: #666;}


/* 일반 pc */
@media screen and (max-width:1280px) {
	
}

/* 테블릿 */
@media screen and (max-width:1024px) {
    
    html{font-size: 16px;}
    #headerArea #gnb ul li {
        margin-right: 20px;}
    

    
    #footerArea div:nth-of-type(1)>img{width: 46px; bottom: 15px;}
    #footerArea .top{width: 128px;}
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
    #headerArea .menu_ham {
        display: block;
        height: 50px;
        position: absolute;
        border-radius: 5px;
        top: 20px;
        right: 0;
        z-index: 50;
    }
    #headerArea .menu_ham span {
        width: 20px;
        height: 4px;
        background: #fff;
        position: relative;
        text-indent: -9999px;
        display: block;
        margin: 26px 15px;
        border-radius: 5px;
        transition: all .3s;
    }
    #headerArea .menu_ham span::before {
        content: '';
        display: block;
        width: 20px;
        height: 4px;
        background: #fff;
        position: absolute;
        top: -7px;
        left: 0;
        border-radius: 5px;
        transition: all .3s;
    }
    #headerArea .menu_ham span::after {
        content: '';
        display: block;
        width: 20px;
        height: 4px;
        background: #fff;
        position: absolute;
        top: 7px;
        left: 0;
        border-radius: 5px;
        transition: all .3s;
    }
    /* 메뉴가 열렸을때 */
    #headerArea.mn_open .menu_ham span {
        background: rgba(0,0,0,0);
    }
    #headerArea.mn_open .menu_ham span::before {
        transform: rotate(45deg);
        top: 0;
    }
    #headerArea.mn_open .menu_ham span::after {
        transform: rotate(-45deg);
        top: 0;
    }

    #headerArea #gnb{width: 100%; margin-top: 0; overflow: hidden; display: none;position: absolute;left: 0;top: 0;padding: 100px 0;background: #e60012;}
    #headerArea #gnb ul li{float: none; text-align: center; margin: 0;}
    #headerArea #gnb .depth li a{padding: 20px 0;} 

    #footerArea{height: 150px;}
    #footerArea div:nth-of-type(1)>img{display: none;}
    #footerArea .top {
        bottom: -28px;
        width: 60px;}
        #footerArea .top span {top:65px;}
        .footer_inner .sns {top: -60px;}
        #footerArea .footer_inner{width: 100%;}
        .footer_inner .sns li{width: 50px; height: 50px; line-height: 1.5em; background-size: cover;}
        .footer_inner .sns li a {
            font-size: 1.5em;}
            .footer_inner p.copy {padding-top: 5px; font-size: 14px;}
        }

/* 모바일 */
@media screen and (max-width:640px) {
	
    html{font-size: 14px;}
}

/* 최소 사이즈 처리 */
@media screen and (max-width:480px) {
	#wrap { min-width:320px; }
}
