/* 기업정보 공통 css */

.visual{width: 2000px; height: 400px; position: relative; left: 50%; margin-left: -1000px; z-index: -10;}
.visual img{
    animation-name: animationScale;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;}
    @keyframes animationScale {
        from {transform:scale(1);}
        to {transform:scale(1.1);}}
.visual span{display: block; font-size: 2em; color: #fff; font-family: 'Roboto', sans-serif; width: 2000px; text-align: center; position: absolute; top: 200px;
    animation-name: animationTranslate;
    animation-delay: 0s;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;}
    @keyframes animationTranslate {
        from {transform:translateY(200px);}
        to {transform:translateY(0);}
    }

.sub_menu{width: 100%; border-bottom: 1px solid #ccc; background: #fff;}
.sub_menu ul{width: 1200px; margin: 0 auto; overflow: hidden;}
.sub_menu ul li{width: 33.33%; float: left; text-align: center;}
.sub_menu ul li a{padding: 18px 0; font-size: 1.25em;}
.sub_menu ul li:hover a,.sub_menu ul li .current{background: #d7182a; color: #fff; font-weight: 700;}

#content{width: 1200px; margin: 0 auto;}
#content .title_area{overflow: hidden; position: relative;}
#content .title_area p::after{content: ""; display: block; width: 4px; height: 100px; background: #ccc; position: absolute; left: 50%; top: 102px; margin-left: -2px; bottom: 0; border-radius: 5px;}
#content .title_area .line_map{position: absolute; right: 0; top: 35px; color: #666; font-size: 16px;}

#content .title_area h2{font-size: 3.125em; font-weight: 700; text-align: center; color: #069; margin: 150px 0 40px;}
#content .title_area p{font-size: 1.5em; text-align: center; margin-bottom: 168px; position: relative;}
.tit_move{
    animation-name: animationTranslate;
    animation-delay: 0s;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;}
    @keyframes animationTranslate {
        from {transform:translateY(200px);}
        to {transform:translateY(0);}
}

#footerArea{background: #eff0f3;}