/* 회사소개 본문 css */
#content .title_area p{font-family: 'Roboto', sans-serif;}
#content .title_area p::before{content: ""; display: block; width: 0; height: 20px; background: #fff77d; position: absolute; left: 50%; top: 18px; margin-left: -280px; transform: skewX(-30deg); z-index: -10; transition: all .5s ease-out;}
#content:hover .title_area p::before{width: 555px;}

.content_area .furniture{width: 1200px; margin: 0 auto; padding-top: 100px;}
.furniture .pastel{position: relative;}
.furniture h3{font-size: 2.5em; font-weight: 700; color: #069; text-align: center; margin-bottom: 100px;}

.pastel>div:nth-of-type(1), 
.steady>div:nth-of-type(1), 
.sage>div:nth-of-type(1){overflow: hidden; width: 780px; height: 260px; padding: 10px 0 0 10px; position: relative; left: 50%; transform: translate(-50%);}
.pastel>div:nth-of-type(1) a, 
.steady>div:nth-of-type(1) a, 
.sage>div:nth-of-type(1) a{width: 250px; height: 250px; float: left;}
.pastel>div:nth-of-type(1) img, 
.steady>div:nth-of-type(1) img, 
.sage>div:nth-of-type(1) img{width: 250px; height: 250px; border-radius: 30px; box-shadow: 0 0 9px 0 rgba(0, 0, 0, .2);}
.pastel>div:nth-of-type(1) a:nth-of-type(2), 
.steady>div:nth-of-type(1) a:nth-of-type(2), 
.sage>div:nth-of-type(1) a:nth-of-type(2){margin: 0 10px;}

.detailed{position: relative; margin: 100px 0;}
.sage>.detailed{margin-bottom: 150px;}
.pastel>.detailed::before, 
.steady>.detailed::before, 
.sage>.detailed::before{content: ""; display: block; width: 1000px; height: 600px;}
.pastel>.detailed::before{background: url(../images/content1/pastel.jpg);}
.steady>.detailed::before{background: url(../images/content1/steady.jpg);}
.sage>.detailed::before{background: url(../images/content1/sage.jpg);}

.pastel>.detailed dl, 
.steady>.detailed dl, 
.sage>.detailed dl{width: 40px; height: 40px; background: rgba(0, 102, 153, .4); position: absolute; left: 0; top: 0; border-radius: 50%; transition: all .3s ease-out;}
.pastel>.detailed dl:nth-of-type(1){left: 270px; top: 305px;}
.pastel>.detailed dl:nth-of-type(2){left: 382px; top: 200px;}
.pastel>.detailed dl:nth-of-type(3){left: 516px; top: 200px;}
.steady>.detailed dl:nth-of-type(1){left: 180px; top: 360px;}
.steady>.detailed dl:nth-of-type(2){left: 640px; top: 200px;}
.steady>.detailed dl:nth-of-type(3){left: 831px; top: 200px;}
.sage>.detailed dl:nth-of-type(1){left: 360px; top: 200px;}
.sage>.detailed dl:nth-of-type(2){left: 444px; top: 200px;}

.detailed dt{position: absolute; top: 50px; width: 170px; background: #fff; height: 116px; left: 50%; transform: translate(-50%); padding: 10px 15px; box-sizing: border-box; border-radius: 5px; visibility: hidden; transition: all .3s ease-out; opacity: 0;}
.steady>.detailed dl:nth-of-type(1) dd:nth-of-type(1){top: 88px;}
.steady>.detailed dl:nth-of-type(1) dt{height: 94px;}
.pastel>.detailed dt::before, 
.steady>.detailed dt::before, 
.sage>.detailed dt::before{content: ""; display: block; position: absolute; left: 85px; transform: translate(-50%); top: -12px;
    width: 0; height: 0;
    border-bottom: 13px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;}

.pastel>.detailed dd, 
.steady>.detailed dd,
.sage>.detailed dd{position: absolute; top: 110px; width: 150px; left: -50px;}
.pastel>.detailed dd:nth-of-type(1), 
.steady>.detailed dd:nth-of-type(1), 
.sage>.detailed dd:nth-of-type(1){font-size: 1.2em; color: red; visibility: hidden; transition: all .3s ease-out;  opacity: 0;}
.pastel>.detailed dd:nth-of-type(1) span, 
.steady>.detailed dd:nth-of-type(1) span, 
.sage>.detailed dd:nth-of-type(1) span{margin-left: 2px; font-size: 1rem; color: #ccc; text-decoration: line-through;}

.pastel>.detailed dd:nth-of-type(2), 
.steady>.detailed dd:nth-of-type(2), 
.sage>.detailed dd:nth-of-type(2){top: 130px; font-weight: 700; font-size: 1.2em; visibility: hidden; transition: all .3s ease-out; opacity: 0;}
.steady>.detailed dl:nth-of-type(1) dd:nth-of-type(2){top: 110px;}

.pastel>.detailed dl:hover dt, 
.steady>.detailed dl:hover dt, 
.sage>.detailed dl:hover dt{visibility: visible; opacity: 1; top: 60px;}
.pastel>.detailed dl:hover dd:nth-of-type(1), 
.steady>.detailed dl:hover dd:nth-of-type(1),
.sage>.detailed dl:hover dd:nth-of-type(1)
{visibility: visible; opacity: 1; top: 120px;}
.steady>.detailed dl:nth-of-type(1):hover dd:nth-of-type(1){top: 98px;}
.pastel>.detailed dl:hover dd:nth-of-type(2), 
.steady>.detailed dl:hover dd:nth-of-type(2), 
.sage>.detailed dl:hover dd:nth-of-type(2){visibility: visible; opacity: 1; top: 140px;}
.steady>.detailed dl:nth-of-type(1):hover dd:nth-of-type(2){top: 118px;}

.pastel>.detailed dd:nth-of-type(3),
.steady>.detailed dd:nth-of-type(3),
.sage>.detailed dd:nth-of-type(3){position: absolute; left: 0; top: -5px; overflow: hidden; width: 40px; height: 40px; text-align: center; overflow: hidden;}
.pastel>.detailed dd:nth-of-type(3) span,
.steady>.detailed dd:nth-of-type(3) span,
.sage>.detailed dd:nth-of-type(3) span{font-size: 2em; color: #fff;}

.pastel>.detailed dl:hover,
.steady>.detailed dl:hover,
.sage>.detailed dl:hover
{background: #069;}

.option{position: relative;}
.option dl{width: 190px; height: 190px; position: absolute; right: 0; top: -700px; text-align: center; color: #fff;}
.option dl:nth-of-type(2){top: -495px;}
.option dl:nth-of-type(3){top: -290px;}
.option dl::before{content: ""; display: block; width: 190px; height: 190px; position: absolute; z-index: -10; filter: brightness(.97); transition: all .3s;}
.pastel .option dl:nth-of-type(1)::before{background: url(../images/content1/etc1.jpg);}
.pastel .option dl:nth-of-type(2)::before{background: url(../images/content1/etc2.jpg);}
.pastel .option dl:nth-of-type(3)::before{background: url(../images/content1/etc3.jpg);}
.steady .option dl:nth-of-type(1)::before{background: url(../images/content1/etc4.jpg);}
.steady .option dl:nth-of-type(2)::before{background: url(../images/content1/etc5.jpg);}
.steady .option dl:nth-of-type(3)::before{background: url(../images/content1/etc6.jpg);}
.sage .option dl:nth-of-type(1)::before{background: url(../images/content1/etc7.jpg);}
.sage .option dl:nth-of-type(2)::before{background: url(../images/content1/etc8.jpg);}
.option dl:hover::before{filter: brightness(.4);}
.pastel .option dl:nth-of-type(3) dt{margin-top: 75px;}
.option dl dt{margin-top: 65px; opacity: 0;}
.option dl dd{font-size: 1.2em; opacity: 0;}
.option dl:hover dt{opacity: 1;}
.option dl:hover dd{opacity: 1;}
.sage .option dl:nth-of-type(1){top: -750px;}
.sage .option dl:nth-of-type(2){top: -545px;}
.option p{position: absolute; right: 46px; top: -744px; font-size: 1.2em; font-weight: 500;}
.option p::after{content: ""; display: block; width: 190px; height: 1px; background: #333; position: absolute; left: -46px; top: 32px;}
.sage .option p{top: -794px;}

.furniture .pastel .modal_box{position: fixed; left: 0; top: 0; z-index: 50; width: 100%; height: 100%; 
    background: #000; opacity: .7; display: none;}
.furniture .popup li{position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); 
    width: 800px; height: 510px; background: #fff;
    z-index: 60; overflow: scroll; overflow-x: hidden; display: none; padding: 50px 50px; box-sizing: border-box; 
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none;}
    .furniture .popup li::-webkit-scrollbar {
        display: none;}
.furniture .popup .close_btn{background: #fff; width: 60px; height: 60px; line-height: 60px; text-align: center; position: absolute; right: 0; top: 0; font-size: 1.5em;}
.furniture .pop{width: 700px; height: 500px; border-radius: 30px;}
.furniture .pop>span{font-size: 1.8em; font-weight: 700; color: #333;}
.furniture .pop>span::before{content: ""; display: block; width: 400px; height: 324px; position: absolute; bottom: 45px;}
.furniture .pastel .pop:nth-of-type(1)>span::before{background: url(../images/content1/pop1.jpg);}
.furniture .pastel .pop:nth-of-type(2)>span::before{background: url(../images/content1/pop2.jpg);}
.furniture .pastel .pop:nth-of-type(3)>span::before{background: url(../images/content1/pop3.jpg);}
.furniture .steady .pop:nth-of-type(1)>span::before{background: url(../images/content1/pop4.jpg);}
.furniture .steady .pop:nth-of-type(2)>span::before{background: url(../images/content1/pop5.jpg);}
.furniture .steady .pop:nth-of-type(3)>span::before{background: url(../images/content1/pop6.jpg);}
.furniture .sage .pop:nth-of-type(1)>span::before{background: url(../images/content1/pop7.jpg);}
.furniture .sage .pop:nth-of-type(2)>span::before{background: url(../images/content1/pop8.jpg);}

.furniture .pop dl{margin: 50px 0 0 100%; transform: translate(-100%); width: 260px; height: 324px; box-sizing: border-box;}

.furniture .pop dt{margin-bottom: 10px; font-weight: 500; font-size: 1.25em; color: #666;}

.furniture .pop dd{margin-bottom: 20px; position: relative;}
.furniture .pop dd:nth-of-type(3)::before{content: ""; display: block; background: #e7dece; width: 20px; height: 20px; border-radius: 50%; position: absolute; left: 44px; top: -33px; box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);}
.furniture .pop dd:nth-of-type(3)::after{content: ""; display: block; background: #ffefad; width: 20px; height: 20px; border-radius: 50%; position: absolute; left: 68px; top: -33px; box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);}
.furniture .pop dd:nth-of-type(3) span::before{content: ""; display: block; background: #dee7e0; width: 20px; height: 20px; border-radius: 50%; position: absolute; left: 92px; top: -33px; box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);}
.furniture .pop dd:nth-of-type(3) span::after{content: ""; display: block; background: #ffd6b5; width: 20px; height: 20px; border-radius: 50%; position: absolute; left: 116px; top: -33px; box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);}
.furniture .pop:nth-of-type(2) dd:nth-of-type(2)::before, .furniture .pop:nth-of-type(2) dd:nth-of-type(2)::after{top: 146px;}

.furniture .steady .pop dd:nth-of-type(3)::before{background: #b5c5ba;}
.furniture .steady .pop dd:nth-of-type(3)::after{background: #dfccb8;}
.furniture .sage .pop dd:nth-of-type(3)::before{background: #fff;}
.furniture .sage .pop dd:nth-of-type(3)::after{background: #dfccb8;}

.steady h3, .sage h3{position: relative; margin-top: 200px;}
.steady h3::before{content: ""; display: block; width: 2000px; height: 1328px; background: #eff0f3; position: absolute; left: 50%; transform: translate(-50%); top: -100px; z-index: -10;}
.sage>div:nth-of-type(1){width: 520px;}