/* 사업영역 본문 */

#content .title_area p::before{content: ""; display: block; width: 0; height: 20px; background: #fff77d; position: absolute; left: 50%; top: 18px; margin-left: 13px; transform: skewX(-30deg); z-index: -10; transition: all .5s ease-out;}
#content:hover .title_area p::before{width: 200px;}
#content .content_area .business{width: 1200px; margin: 0 auto;}

.content_area .business div:nth-of-type(1){overflow: hidden; background: url(../images/content2/business1.jpg) left 100px no-repeat; margin-bottom: 90px;}

.business div:nth-of-type(1) p span{font-size: 1.875em; line-height: 1.5em; font-weight: 700; color: #d7182a;}
.business div:nth-of-type(1) p{font-size: 1.125em; text-align: justify; line-height: 2.25em; margin: 100px 0 0 650px;}

.business div:nth-of-type(2){background: url(../images/content2/business2.svg) no-repeat; width: 1200px; height: 400px; padding-top: 90px; position: relative;}

.business div:nth-of-type(2) span{font-size: 1.875em; font-weight: 700;}
.business div:nth-of-type(2) p{font-size: 1.125em; text-align: center; line-height: 2em;}
.business div:nth-of-type(2) p:nth-of-type(2){margin-top: 36px;}

.business .headquarter h3{    font-size: 2.5em;
    font-weight: 700;
    color: #069;
    text-align: center;
    margin-bottom: 100px;}
.business .headquarters{width: 1200px; margin: 0 auto; display: flex; flex-wrap:wrap; padding-bottom: 74px;}
.business .headquarters li{position: relative; width: 349px; margin: 0 76px 76px 0; overflow: hidden;}
.business .headquarters li:nth-of-type(3){margin-right: 0;}

.business .headquarters li img{}
.business .headquarters dl{position: absolute; left: 0; top: 0px; width: 349px; height: 400px; color: #fff;transition: all .5s ease-out;  padding-top: 50px; background: rgba(0,0,0,.2);}
.business .headquarters li:hover dl{background: #d7182a;}
.business .headquarters dt{margin-top: 280px; font-size: 1.875em; font-weight: 700; transition: all .5s ease-out; text-align: center;}
.business .headquarters li:hover dt{margin-top: 0;}
.business .headquarters dd{line-height: 1.375em; font-size: 1.125em; padding: 40px 37px 0; display: block; transition: all .5s ease-out; opacity: 0; text-align: justify;}
.business .headquarters li:hover dd{opacity: 1;}